:root {
 
    --margin-bottom: 100px;
    --label-padding-right: 20px;
    --label-width: 200px;
    --widget-width:250px;
    --border-radius: 4px;
    --main-padding: 10px;
    --input-text-size: 14px;
    --xolor-main: #5d6063;
     
    }
     
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box /*inclui padding e border em um elemento considerando sua altura e largura total*/
    }
     
    body {
    color: var(--color-main);
    background-color: rgb(152, 219, 255);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1,5;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
     
    .profile-header {
    text-align: center;
    border: 2px solid rgb(186, 189, 190);
    border-radius: var(--border-radius);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
    margin: 20px 10px;
    padding: var(--main-padding);
     
    }
    



#ficha_aqui {
    white-space: pre-wrap; /* Preserva quebras de linha e espaços */
}

/* Esconde seções condicionais */

 /* PESSOA */
    #mais-pessoa {
    display: none;
    }
    
    #pessoa-section {
    display: none;
    }
    
    #detalhes-pessoa {
    display: none;
    }
    
    #entidade-section {
    display: none;
    }
    
    #evento-section {
    display: none;
    }
    
    #autor-section {
    display: none;
    }
    
    #organizador-section {
    display: none;
    }
    
    #compilador-section {
    display: none;
    }
    
    #coordenador-section {
    display: none;
    }
    
    #editor-section {
    display: none;
    }
    
    #qtd-pessoa {
    display: none;
    }
    
    #tradutor-section {
    display: none;
    }
    
    #ilustrador-section {
    display: none;
    }
    
    #segunda-pessoa {
    display: none;
    }
    
    #terceira-pessoa {
    display: none;
    }
    
    #quarta-pessoa {
    display: none;
    }

 /* CONTRIBUIDOR - Ilustrador */

    #mais-ilustrador {
        display: none;
        }
        
        #qtd-ilustrador {
        display: none;
        }
    
    #segundo-ilustrador {
    display: none;
    }
        
    #terceiro-ilustrador {
    display: none;
    }
        
    #quarto-ilustrador {
    display: none;
    }

/* CONTRIBUIDOR - Tradutor */

#mais-tradutor {
    display: none;
    }
    
    #qtd-tradutor {
    display: none;
    }

#segundo-tradutor {
display: none;
}
    
#terceiro-tradutor {
display: none;
}
    
#quarto-tradutor {
display: none;
}

#segundo-publicador {
    display: none;
}


#outro-publicador {
    display: none;
}

#paginacao-numerada {
    display: none;
}

#paginacao-romana {
    display: none;
}

#paginacao-lamina {
    display: none;
}

#paginacao-nao-numerada {
    display: none;
}


#tipo-imagem {
    display: none;
}

#coloracao-il {
    display: none;
}

#coloracao-fotos {
    display: none;
}

#coloracao-mapas {
    display: none;
}

#coloracao-mapas {
    display: none;
}

#formato-fisico {
    display: none;
}

#formato-tradicional {
    display: none;
}

#formato-nao-tradicional {
    display: none;
}

#formato-digital {
    display: none;
}

