h1 {color:red}


/* Esconde seções condicionais */

 /* PESSOA */
    #mais-pessoa {
    display: none;
    }
    
    #pessoa-section {
    display: none;
    }
    
    #detalhes-pessoa {
    display: none;
    }
    
    #entidade-section {
    display: none;
    }
    
    #evento-section {
    display: none;
    }
    
    #autor-section {
    display: none;
    }
    
    #organizador-section {
    display: none;
    }
    
    #compilador-section {
    display: none;
    }
    
    #coordenador-section {
    display: none;
    }
    
    #editor-section {
    display: none;
    }
    
    #qtd-pessoa {
    display: none;
    }
    
    #tradutor-section {
    display: none;
    }
    
    #ilustrador-section {
    display: none;
    }
    
    #segunda-pessoa {
    display: none;
    }
    
    #terceira-pessoa {
    display: none;
    }
    
    #quarta-pessoa {
    display: none;
    }

 /* CONTRIBUIDOR - Ilustrador */

    #mais-ilustrador {
        display: none;
        }
        
        #qtd-ilustrador {
        display: none;
        }
    
    #segundo-ilustrador {
    display: none;
    }
        
    #terceiro-ilustrador {
    display: none;
    }
        
    #quarto-ilustrador {
    display: none;
    }

/* CONTRIBUIDOR - Tradutor */

#mais-tradutor {
    display: none;
    }
    
    #qtd-tradutor {
    display: none;
    }

#segundo-tradutor {
display: none;
}
    
#terceiro-tradutor {
display: none;
}
    
#quarto-tradutor {
display: none;
}

#segundo-publicador {
    display: none;
    }


#outro-publicador {
    display: none;
}

#paginacao-unica {
    display: none;
}

#paginacao-variada {
    display: none;
}

#pag-sem-num {
    display: none;
}

#certeza-pag-sem-num{
    display: none;
}

#paginacao-ausente {
    display: none;
}

#certeza-pag-ausente {
    display: none;
}

#tipo-imagem {
    display: none;
}

#coloracao-il {
    display: none;
}

#coloracao-fotos {
    display: none;
}

#coloracao-mapas {
    display: none;
}